.page-hazard{
    margin-top:-120px;
    .hazard-list{
        position: relative;
        margin-bottom: 2rem;
        .overlay{
            @include overlay;
            background-color: rgba($color-blue , 0.3);
            border:4px solid $color-blue;
            z-index: 1;
        }
        figure{
            overflow: hidden;
            img{
                @include zoom-before;
            }
        }
        figcaption{
            position: absolute;
            left:0;
            right:0;
            width:100%;
            bottom:0;
            padding:0.8rem;
            color:$color-white;
            z-index: 2;
            h4{
                font-size:1.5rem;
                text-transform: capitalize;
                font-weight: 600;
                a{
                    color:$color-white;
                }
            }
            p{
                margin:0.7rem 0 1rem 0; 
            }
        }
        .hazard-icon{
            position: absolute;
            top:1rem;
            right: 1rem;
            width:130px;
            height: 130px;
            @include flexvr;
            border:2px solid $color-white;
            z-index: 2;
            svg{
                fill:$color-white;
            }
        }
        &:hover{
            figure{
                overflow: hidden;
                img{
                    @include zoom-after;
                }
            }
        }
    }
}
.legend{
    @include translatey;
    position: fixed;
    right:0;
    z-index: 9;
    .legend-list{
        background-color: $color-white;
        padding:0.7rem 1rem;
        max-width: 170px;
        h4{
            font-size:1.2rem;
            margin-bottom: 0.5rem;
        }
        a{
            margin-bottom: 0.5rem;
            height: 40px;
            font-size: 1rem;
            text-transform: capitalize;
            text-align: center;
            min-width: 140px;
            line-height: 1.8rem;
            &.active{
                background-color: $color-red;
            }
        }
    }
}
.bef-aft{
    .title{
        padding-right: 100px;
    }
}
.before-list{
    ul{
        li{
            position: relative;
            padding-left:2rem;
            margin-bottom: 0.5rem;
            a{
                display: block;
            }
            &::before {
                content: "\f17c";
                font-family: "LineAwesome";
                position: absolute;
                left:0;
                top:0;
                color:$color-blue;
            }
        }
    }
    &.bef-aft-list{
        padding-right:100px;
    }
}
.inphograph{
    
    .infograph-item{
        margin-bottom: 2rem;
    }
}
.info-wrap{
    padding-right:100px; 
}
@media screen and (max-width:$pt-tab){
    .page-hazard{
        margin-top:3rem;
    }
}
@media screen and (max-width:$ls-tab){
    .info-wrap{
        padding-right:0; 
    }
    .before-list{
        &.bef-aft-list{
            padding-right:0;
        }
    }
    .bef-aft{
        .title{
            padding-right: 0;
        }
    }
    .legend{
        @include translatey;
        position: fixed;
        right:0;
        z-index: 9;
        .legend-list{
            display: none;
        }
    }
}