.knowledge{
    aside.left-sidebar{
        background-color: $color-white;
        .card{
            border:none;
            .card-header{
                background: none;
                h5{
                    margin:0;
                    a{
                        display: block;
                        color:$color-blue;
                        font-size: 1rem;
                        text-transform: capitalize;
                        position: relative;
                        &:after {
                          content: "\f2c2"; /* fa-chevron-down */
                          font-family: 'LineAwesome';
                          position: absolute;
                          right: 0;
                        }
                      }
                      a[aria-expanded="true"]:after {
                        content: "\f28e"; /* fa-chevron-up */
                      }
                }
            }
            .card-body{
                ul{
                    li{
                        margin-bottom: 0.4rem;
                        a{
                            color:$color-blue;
                            padding-left: 1.2rem;
                            position: relative;
                            text-transform: capitalize;
                            &:after {
                                content: "\f167"; /* fa-chevron-down */
                                font-family: 'LineAwesome';
                                position: absolute;
                                left: 0;
                                top:0;
                              }
                        }
                    }
                }
            }
        }
        &.dictionary-sidebar{
            .card{
                .card-body{
                    ul{
                        li{
                            margin:0;
                            a{
                                border: 0;
                                border-bottom: 1px solid $color-bg;
                                padding: 0.6215rem 0;
                                border-radius: 0;
                                font-weight: 400;
                                color:$color-primary;
                                font-size:1rem;
                                line-height: 1rem;
                                &::after{
                                    display: none;
                                }
                                &.active{
                                    color:$color-secondary;
                                    border-color:$color-secondary;
                                    &::before{
                                        content: "";
                                        border-color: transparent $color-white;
                                        border-style: solid;
                                        border-width: 18px 0px 18px 16px;
                                        height: 0px;
                                        width: 0px;
                                        @include translatey;
                                        right: -2rem;
                                        display: inline-block;
                                    }
                                }
                            }
                            &:first-child{
                                a{
                                    padding-top:0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .knoledge-body{
        .card{
            border:none;
            background-color: #f7f7f7;
            .knoledge-list{
                margin-bottom: 2rem;
                figure{
                    position: relative;
                    figcaption{
                        @include overlay;
                        background-color: rgba($color-blue, 0.5);
                        @include flexvr;
                        a{
                            color:$color-white;
                            font-size:2rem;
                            @include anim05;
                            &:hover{
                                color:$color-red;
                            }
                        }
                    }
                }
                .knowldege-content{
                    padding:1rem;
                    background-color: $color-white;
                    h4{
                        font-size:1rem;
                        &:hover{
                            a{
                                color:$color-blue;
                            }
                        }
                    }
                    time{
                        font-size:0.875rem;
                        color:rgba($color-primary,0.7);
                    }
                    .post-meta{
                        @include flexjust;
                        a{
                            color:$color-blue;
                            font-size:1rem;
                            text-transform: capitalize;
                        }
                    }
                }
                &.doclist{
                    background-color: $color-white;
                    figure{
                        text-align: center;
                        max-width: 100px;
                        margin: 0 auto;
                        padding:2rem 1rem;
                    }
                    .knowldege-content{
                        padding-top:0;
                    }
                }
            }
        }
    }
}
.ditionary-section{
    .dictionary-body{
        .card{
            .card-body{
                p{
                    font-size: 1rem;
                }
                figure{
                    margin-bottom: 1rem;
                    border:1px solid $color-bg;
                    padding:5px;
                    border-radius: 4px;
                    display: inline-block;
                    img{
                        max-height: 150px;
                    }
                }
                .comment{
                    h5{
                        font-size:1rem;
                    }
                    p{
                        font-size:0.875rem;
                        line-height: 1.5rem;
                    }
                }
            }
        }
    }
}
