
.iset-btn{
    height: 50px;
    line-height: 38px;
    min-width: 12rem;
    display: inline-block;
    transform: perspective(1px) translateZ(0px);
    vertical-align: middle;
    padding: 5px 20px;
    background: $color-blue;
    color: $color-white;
    overflow: hidden;
    @include radius30;
    box-shadow: none;
    border:none;
    text-transform: capitalize;
    font-size:1.2rem;
    cursor: pointer;
    position: relative;
    i{
    margin-left: 0.4rem;
    @include anim05;
    }
    &.small-btn{
        height: 40px;
        line-height: 40px;
        display: inline-block;
        padding: 0 20px;
        min-width: auto;
        font-size: 0.875rem;
      }

      &.btn-white{
          background-color: $color-white;
          color:$color-blue;
      }
      &::after{
        background: $color-red;
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transform: scaleY(0);
        transform-origin: 50% 0 0;
        transition-duration: 0.3s;
        transition-property: transform;
        transition-timing-function: ease-out;
        z-index: -1;
        border-radius: 0;
      }
      
    &:hover{
        color:$color-white;
        i{
            margin-left: 0.7rem;
        }
        &::after{
            transform: scaley(1);
        }
    }
    
  }
  .button-effect{
    transform: perspective(1px) translateZ(0px);
    &::after{
      background: $color-red;
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transform: scaleY(0);
      transform-origin: 50% 0 0;
      transition-duration: 0.3s;
      transition-property: transform;
      transition-timing-function: ease-out;
      z-index: -1;
      border-radius: 0;
    }
    &:hover{
      color:$color-white;
      &::after{
          transform: scaley(1);
      }
    }
  }
  @media screen and (max-width:$pt-tab){
    .iset-btn{
      height: 40px;
      line-height: 40px;
      display: inline-block;
      padding: 0 20px;
      min-width: auto;
      font-size: 0.875rem;
    }
}